//HEADER STYLES

#hero, #why, #contents, #about, footer { padding-top: 2em; padding-bottom: 2em;}


  
section#hero { 
  background: $grey;
  clear: both;
  overflow: hidden;

}
  
section#why { 
  background: url('../images/bg.png') repeat;
  clear: both;
  overflow: hidden;

  }  

section#contents { 
  background: $blue;
  clear: both;
  overflow: hidden;

}  

section#about { 
  background: $grey;
  clear: both;
  overflow: hidden;

}

footer { 
  background: url('../images/bg.png');
}