/*
Syntax error: Invalid CSS after "	.": expected class name, was "2col { "
        on line 34 of sass/major.scss

29: .wrapper{
30:   width:940px;
31: 	margin:0 auto;
32: 	padding:0 10px;
33: 	
34: 	.2col { 
35: 	  width: 50%:;
36: 	  
37: 	  &.first { 
38: 	    margin-right: 5%;
39: 	    width: 45%;

Backtrace:
sass/major.scss:34
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:823:in `expr!'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:519:in `class_selector'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:485:in `simple_selector_sequence'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:466:in `_selector'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:445:in `selector'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:429:in `selector_sequence'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:354:in `ruleset'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `call'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:380:in `block_child'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:361:in `block'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:379:in `block_child'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/scss/parser.rb:26:in `parse'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:252:in `block (4 levels) in watch'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:245:in `watch'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/plugin.rb:111:in `method_missing'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/exec.rb:408:in `watch_or_update'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/exec.rb:294:in `process_result'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/exec.rb:41:in `parse'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/lib/sass/exec.rb:21:in `parse!'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/gems/sass-3.1.7/bin/sass:8:in `<top (required)>'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/bin/sass:19:in `load'
/Users/Tagell/.rvm/gems/ruby-1.9.3-head/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	.\": expected class name, was \"2col { \"\A         on line 34 of sass/major.scss\A \A 29: .wrapper{\A 30:   width:940px;\A 31: 	margin:0 auto;\A 32: 	padding:0 10px;\A 33: 	\A 34: 	.2col { \A 35: 	  width: 50%:;\A 36: 	  \A 37: 	  &.first { \A 38: 	    margin-right: 5%;\A 39: 	    width: 45%;"; }
